<div class="center jumbotron">
    <h2>Set no. questions:</h2>
    <%= form_with url: "/set_no_questions", method: :post do |no| %>
    <%= no.select :tot_questions, [4, 5, 6, 7, 8] %>
    <% end %>
</div>


<% q = @questions.sample %>

<%= form_with url: "/counter", method: :post do |f| %>
    <%= f.hidden_field :question, value: q.id %>
    <div class="center jumbotron">
        <p><%= q.title %></p>
        <% q.answers.each do |ans|%>
            <p>
            <% unless ans[1].nil? %>
                <%= f.radio_button :ans, ans[0], :required => 'required'%>
                <%= ans[1]%>
            <% end %>
            </p>
        <% end %>
    </div>
    <%= f.submit "Submit" %>
<% end %>